.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation-border {
  border-bottom: 1px solid lightgrey;
  padding: 5px 0;
  padding-top: 20px;
  padding-left: 30px;
}

.navigation-logo {
  width: auth;
  height: 40px;
}

.navigation-home-icon {
  width: 20px;
  height: auto;
  padding-left: 630px;
  padding-bottom: 14px;
}

.navigation-messenger-icon {
  width: 20px;
  height: auto;
  padding-left: 20px;
  padding-bottom: 14px;
}

.navigation-add-post-icon {
  width: 20px;
  height: auto;
  padding-left: 20px;
  padding-bottom: 14px;
}

.navigation-git-icon {
  width: 20px;
  height: auto;
  padding-left: 20px;
  padding-bottom: 14px;
}


.navigation-likes-icon {
  width: 20px;
  height: auto;
  padding-left: 20px;
  padding-bottom: 14px;
}

.navigation-user-icon {
  width: 20px;
  height: auto;
  padding-left: 20px;
  padding-bottom: 14px;
}

