.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}


/*NAVIGATION BAR*/

.navigation-border {
	border-bottom: 1px solid lightgrey;
	padding: 5px 0;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 15px;
}

.navigation-logo {
	width: auto;
	height: 40px;
	margin-top: -8px;
}

.navigation-search-input {	
	
	float: right;
	height: auto;
	border: 1px solid lightgray;
	background-color: #fff;
	
}


.navigation-home-icon {
	float: right;
	width: 20px;
	height: auto;
	padding-bottom: 14px;
	padding-left:20px;
}

.navigation-messenger-icon {
	float: right;
	width: 20px;
	height: auto;
	padding-left: 20px;
	padding-bottom: 14px;
}

.navigation-add-post-icon {
	float: right;
	width: 20px;
	height: auto;
	padding-left: 20px;
	padding-bottom: 14px;
}

.navigation-git-icon {
	float: right;
	width: 20px;
	height: auto;
	padding-left: 20px;
	padding-bottom: 14px;
}

.navigation-likes-icon {
	float: right;
	width: 20px;
	height: auto;
	padding-left: 20px;
	padding-bottom: 14px;
}

.navigation-user-icon {
	float: right;
	width: 20px;
	height: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 14px;
}

/*GENRE BAR*/

.genre-bar {
	text-align: center;
}

.genre-bar-select {
	font-size: 11pt;
	font-weight: bold;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.genre-bar-text {
	text-align: center;
	width: 400px;
	border-radius: 5px;
	background-color: white;
	border-color: lightgray;
}

.option {
	width: 400px;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*USER EMOJIS*/

.filter-box {
	text-align: center;
	flex-direction: row;
	border: 1px solid lightgray;
	margin-bottom: -20px;
	margin-top: 20px;
	
}

.filter-box-cool {
	display: inline-flex;
	border: 2px solid rgb(239, 161, 239);
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 55px;
	height: auto;
	background-color: white;
}



.filter-box-funny {
	display: inline-flex;
	border: 2px solid rgb(239, 161, 239);
	height: auto;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 55px;
	background-color: white;
	margin-left: 10px;
}


.filter-box-shocking {
	display: inline-flex;
	border: 2px solid rgb(239, 161, 239);
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;

	height: auto;
	width: 55px;
	background-color: white;
	margin-left: 10px;
}

.filter-box-questionable {
	display: inline-flex;
	border: 2px solid rgb(239, 161, 239);
	height: auto;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 55px;
	background-color: white;
	margin-left: 10px;
}


/*MAIN CONTENT- POST*/

.post {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	background: #fff;
	border: 1px solid lightgray;
	border-radius: 10px;
	width: 400px;
	height: auto;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 10px;
}

.info {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	padding: 0px;
}

.user {
	display: flex;
	align-items: center;
}

.profile-pic {
	border: 1.3px solid rgb(223, 72, 223);
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	height: 35px;
	width: 35px;
	background: none;
}

.username {
	padding-left: 5px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.postcard-image {
	width: 100%;
	height: auto;
	object-fit: cover;
}

.post__content {
	display: flex;
	position: relative;
}

.reaction-wrapper {
	height: 55px;
	display: flex;
	margin-top: -20px;
	align-items: center;
}

.post-likes-icon {
	padding-top: 10px;
	height: 15px;
	width: auto;
	display: flex;
	position: relative;
	padding-left: 5px;
}

.post-comments-icon {
	padding-top: 10px;
	padding-left: 10px;
	height: 15px;
	width: auto;
	display: flex;
	position: relative;
}

.post-share-icon {
	padding-top: 10px;
	padding-left: 10px;
	height: 15px;
	width: auto;
	display: flex;
	position: relative;
}

.post-bookmark-icon {
	padding-top: 10px;
	padding-left: 310px;
	height: 15px;
	width: auto;
	display: flex;
	position: relative;
}

.postcard-post-name {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: -8px;
	padding-left: 5px;
	margin-bottom: 13px;
}

.postcard-post-genre {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: small;
	margin-top: -10px;
	padding-left: 5px;
	
}

.comment-wrapper {
	width: 100%;
	height: 50px;
	border-radius: 1px solid #dfdfdf;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: -10px;
	margin-bottom: -20px;
	
}

.comment-wrapper :hover{
	color: white;
	background-color: lightgrey;
}

.comment-button {
	background-color: white;
	color: rgb(129, 129, 129);
	border-radius: 4px;
	border: 0px;
	margin-top: -20px;
	
}

.comment-post {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: smaller; 
	margin-top: -3px;
	margin-bottom: 8px;
	padding-left: 5px;
}

.comment-add-form {
	padding-left: 5px;
	padding-bottom: 5px;
}

.comment-add-text {
	width: 288px;
}

/*FORM PAGE*/

.form {
	text-align: center;
	border-bottom: 1px solid lightgray;
}

.form-title {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: large;
}

.form-title-input {
	width: 290px;
	margin-bottom: 2px;
}

.form-url-input {
	width: 290px;
	margin-bottom: 2px;
}

.form-input-select {
	width: 298px;
	height: 22px;
	margin-bottom: 2px;
}

.form-post {
	width: 130px;
	margin-bottom: 5px;
}

.form-image {
	width: 300px;
	height: auto;
	text-align: center;
}